nav {
    margin: 0;

    .sNav {
        font-size: $sNav-font-size;
        
        ul { margin: 5px -15px 0; 
        
        
            li { margin-top:13px; padding:12px 0 12px 14%;
            
                :hover { background-color: $dark-grey-color; cursor:pointer; color:white; }
            }
        }
        i, span { margin-right:10px;}
    }

}
